---
oracle_hostname: ..TODO.ADD.HOSTNAME
oracle_port: ..TODO.ADD.PORT
oracle_dsn: ...TODO.ADD.PORT
oracle_service_name: ..TODO.ADD.ORACLE.SERVICE.NAME
oracle_username: ..TODO.ADD.DB.USERNAME
oracle_password: ..TODO.ADD.DB.PASSWORD

oracle_home: ..ORACLE_HOME..for oracle_db module

mode: "sysdba"

#
running_on_server: false
running_on_server_crs: false

running_on_db_asm: false
running_on_db_fs: false
running_on_cdb: false
running_on_pdb: false

running_on_client: false

running_on_adb: false

--mode: "sysdba"
