---

- name: Create a logical volume u01
  lvol:
    vg: vg01
    lv: u01
    size: 80%VG
    shrink: no

- name: Create filesystem on /dev/vg01/u01
  filesystem:
    fstype: ext4
    dev: /dev/vg01/u01

- name: Mount filesystem on /dev/vg01/u01
  mount:
    path: /oracle
    src:  /dev/vg01/u01
    state: mounted
    fstype: auto

# NOTE: this has to be split into two tasks, otherwise recurse=yes will change perms recursively
- name: Create u01 sub-directory (mkdir -p)
  file:
    path: "{{ item }}"
    recurse: yes
    state: directory
  loop:
    - "{{ oracle_install_dir_root }}"
    - "{{ oracle_install_dir_base }}"
    - "{{ oracle_install_dir_temp }}"
    - "{{ oracle_install_dir_prod }}"
    - "{{ oracle_inventory_location }}"

- name: Change permissions on u01 sub-directory
  file:
    path:  "{{ item }}"
    owner: "{{ oracle_os_user }}"
    group: "{{ oracle_os_group }}"
    mode: '0775'
    state: directory
  loop:
    - "{{ oracle_install_dir_root }}"
    - "{{ oracle_install_dir_base }}"
    - "{{ oracle_install_dir_temp }}"
    - "{{ oracle_install_dir_prod }}"
    - "{{ oracle_inventory_location }}"

- name: Extend the u01 mountpoint
  lvol:
    vg: vg01
    lv: u01
    size: 29G
    shrink: no
    resizefs: yes

- name: Extend the / (root) filesystem
  lvol:
    vg: vg00
    lv: lv_root
    size: 10g
    shrink: no
    resizefs: yes

- name: Extend the /tmp filesystem
  lvol:
    vg: vg00
    lv: lv_tmp
    size: 1g
    shrink: no
    resizefs: yes
